@model IEnumerable<Sportpad.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    @foreach (var item in Model)
    {
    <div class="card">
        <div class="card-body">

            <h3 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>

            <p class="card-text">
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <h6 class="card-subtitle mb-2 text-muted">
                Looking for: @Html.DisplayFor(modelItem => item.MaximumNumber)
            </h6>



            <a asp-action="Edit" asp-route-id="@item.Id">Check in</a> |
        </div>
        </div>
        
        }

    </div>
